<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 관리 시스템</title>
</head>
<body>
    <nav>
        <a href={% url "books:index" %}>Home</a>
        <a href={% url "books:create" %}>create</a>

        {% if user.is_authenticated %}
        <form action="{% url "accounts:logout" %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃">
            {% comment %}
            <p>{{ user.username }}</p>
            <p>{{ request.user }}</p>
            {% endcomment %}
            <p>환영합니다! <b>{{ user }}</b>님</p>
        </form>
        {% else %}
        <a href={% url "accounts:signup" %}>회원가입</a>
        <a href={% url "accounts:login" %}>로그인</a>
        {% endif %}
    </nav>


    {% block contents %}
    {% endblock contents %}
    
</body>
</html>