{% extends "base.html" %}

{% block contents %}
<h1>생성 페이지</h1>

<form action={% url "books:create" %} method="POST">
    {% csrf_token %}

    {% comment %} 내부적으로는 아래 두 코드가 반복 {% endcomment %}
    {% comment %}
    {{ form.isbn.label_tag }}
    {{ form.isbn }}
     {% endcomment %}
    {{ form.as_p }}

    {% comment %} <label for="isbn">도서번호: </label>
    <input type="text" name="isbn">
    <br>

    <label for="title">제목: </label>
    <input type="text" name="title">
    <br>

    <label for="description">내용: </label>
    <textarea name="description" rows="4" cols="30"></textarea>
    <br>

    <label for="price_sales">가격: </label>
    <input type="number" name="price_sales">
    <br>

    <label for="author">작가: </label>
    <input type="text" name="author">
    <br>

    <label for="pub_date">출간연도: </label>
    <input type="date" name="pub_date">
    <br> {% endcomment %}

    <button>생성하기</button>
</form>

{% endblock contents %}